---
export const prerender = false;
import Layout from "@/layouts/Layout.astro";
import RegisterForm from "@/components/auth/RegisterForm";
---

<Layout>
  <section class="max-w-md mx-auto py-8">
    <h1 class="text-2xl font-semibold mb-4 flex justify-center">Załóż konto</h1>
    <RegisterForm client:load />
  </section>
</Layout>
