---
import Layout from "../../../layouts/Layout.astro";
import { ActivitiesListPage } from "../../../components/dashboard/activities/ActivitiesListPage";
import ParentNavbar from "../../../components/dashboard/ParentNavbar";
export const prerender = false;
---

<Layout>
  <ParentNavbar client:load activeTabLabel="Zapisz dziecko na zajęcia" />
  <main class="mx-auto max-w-6xl px-4 py-8" aria-labelledby="activities-heading">
    <h1 class="text-2xl font-semibold mb-4 flex justify-center">Lista zajęć</h1>
    <ActivitiesListPage client:visible />
  </main>
</Layout>
